nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') LOGO 
    ul.nav 
        li.nav-item 
            a.nav-link(href='/') All Workers 
        li.nav-item 
            a.nav-link(href='/createNew') Create 