nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
        a.navbar-brand.text-uppercase.text-dark(href='/') Goal Maker 
        ul.nav 
            li.nav-item 
                a.btn.btn-outline-secondary(href='/') List All 
            li.nav-item.ms-3 
                a.btn.btn-outline-primary(href='/createNew') Create 